{% extends 'EasyCook/Base.html' %}
{% block title %}Search Recipes{% endblock %}
{% block content %}
{% load i18n %}
    <section class="py-5">
    <div class="container px-1 px-lg-5 mt-5">
        <div class="container-fluid px-1 py-5 mx-auto">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                    <h1>{% trans "Recettes correspondantes" %}</h1>
                </div>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% if recipes %}
                {% for recipe in recipes %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            {% if recipe.image %}
                                <img class="card-img-top" src="{{ recipe.image.url }}" alt="{{ recipe.nom_recette }}">
                            {% else %}
                                <img class="card-img-top" src="https://cdn.vectorstock.com/i/preview-1x/50/20/no-photography-sign-image-vector-23665020.jpg" alt="Image non disponible">
                            {% endif %}
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{ recipe.nom_recette }}</h5>
                                    {% if recipe.temps_preparation %}
                                        <h6 class="card-subtitle">{% trans "Temps de préparation : " %}{{ recipe.temps_preparation }} {% trans "minutes" %}</h6>
                                    {% endif %}
                                    {% if recipe.temps_cuisson %}
                                        <h6 class="card-subtitle">{% trans "Temps de cuisson : " %}{{ recipe.temps_cuisson }} {% trans "minutes" %}</h6>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" href="{% url 'EasyCook:Descr_recipe' nom_recette=recipe.nom_recette %}">{% trans "Détails" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="pagination mt-4">
                    <span class="step-links">
                        {% if recipes.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ recipes.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}.
                        </span>

                        {% if recipes.has_next %}
                            <a href="?page={{ recipes.next_page_number }}">next</a>
                            <a href="?page={{ recipes.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            {% else %}
                <p>{% trans "Aucune recette trouvée avec les ingrédients sélectionnés." %}</p>
            {% endif %}

        </div>
    </div>
</section>

{% endblock %}
